.ChallengePanel {
    width: 90%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: black;
    line-height: 200%;
}

.ChallengePanel
.error {
    color: red;
}
