<div class='ChallengePanel'>
    <div v-for='deed in deeds' track-by='id' class='deed-column' v-bind:style="{width: column_width, background: background($index)}">

        <template v-if='accomplished_deed'>
            <div class='description'>{{ deed.description }}</div>
            <div class='champions'>Champions: {{ deed.accomplished_count }}</div>
            <percentage-widget
                :percentage='percentage_of_champains(deed.accomplished_count)'
                :circle_size='100'
                :insert_size='85'
                :clockwise='false'
                :offset='90'
                :semicircle='true'
                :primary_color='white'
                :secondary_color='secondary_color($index)'
                :background_color='primary_color($index)'>
            </percentage-widget>
        </template>

        <template v-else>
            <div class='description'>{{ deed.description }}</div>
            <button
                class='accomplished'
                @click='user ? accomplish_deed(deed.id) : $router.go("/sign-in")'
                v-bind:style='{backgroundColor: secondary_color($index)}'>
                    COMPLETE
            </button>
        </template>

    </div>
</div>
