.ChallengePanel {
    width: 100%;

    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    line-height: 200%;
}

.ChallengePanel
.error {
    color: red;
}

.ChallengePanel
.deed-column {
    height: 100%;

    display: inline-block;
    color: white;
}

.ChallengePanel
percentage-widget {
    
}
